
*{box-sizing:border-box;}

.container{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-areas:"n n"
						"t t"
						"c g";
	grid-gap:10px;
}

.navbar{
	grid-area:n;
	background-color:#689689;
	border:3px solid #846A6A;
}

.title{
	grid-area:t;
	background-color:#689689;
	border:3px solid #846A6A;
}

.covid{
	grid-area:c;
	background-color:#689689;
	border:3px solid #846A6A;
}

.sahara{
	grid-area:g;
	background-color:#689689;
	border:3px solid #846A6A;
}